body {
  color: #5a5a5a;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#app {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}
.fadein {
  -webkit-animation: fadein ease-in .5s;
  -moz-animation: fadein ease-in .5s;
  -ms-animation: fadein ease-in .5s;
  -o-animation: fadein ease-in .5s;
  animation: fadein ease-in .5s;
}
b {
  color: #000;
}
#bottom {
  background: #f6f8fa;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem 0;
}
a {
  color: rgb(14, 119, 205);
  text-decoration: none;
}
a:hover {
  color: rgb(0, 169, 224);
  text-decoration: underline;
}
.btn a {
  color: inherit;
  text-decoration: none;
}
a.external:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
h1,h2,h3,h4,h5,h6 {
  color: rgb(0, 0, 0);
  font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1 {
  font-weight: 900;
  margin-bottom: 2.5rem;
}
#top a {
  text-decoration: none;
}
#top h1 a, #top a h1, #top img {
  transition: all ease-in-out .15s;
}
#splash {
  padding-top: 4em;
}
#main {
  overflow: hidden;
  padding: 0 1rem;
  text-align: left;
}
#main.content {
  padding-top: 48px;
}
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  margin: 2.5rem 0 0 0;
}

#main h1 + h2, #main h2 + h3, #main h3 + h4, #main h4 + h5, #main h5 + h6 {
  margin-top: 2.5rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
