<div id="top" class="ui inverted menu">
  <div id="nav" class="ui container">
    <div id="logo">
      <a class="item borderless" href="/">
        <div aria-label="microbs" class="ui inverted header big">
          microbs
        </div>
      </a>
    </div>
    <div id="buttons" class="right menu">
      <a class="item" href="/docs" title="Docs">
        Docs
      </a>
      <a class="item" href="/docs/overview/getting-started" title="Get Started">
        Get Started
      </a>
      <a class="item" href="https://github.com/microbs-io/microbs" title="Github" onclick="to('https://github.com/microbs-io/microbs');">
        <div class="github"></div>
      </a>
    </div>
  </div>
</div>
