<div id="top" class="ui inverted menu">
  <div id="nav" class="ui container">
    <a href="/">
      <div aria-label="microbs" class="ui inverted header huge">
        microbs
      </div>
    </a>
    <div id="buttons">
      <a href="/docs" title="Docs">
        <button type="button" class="ui button inverted" aria-label="Docs">
          Docs
        </button>
      </a>
      <a href="/docs/overview/getting-started" title="Get Started">
        <button type="button" class="ui button inverted" aria-label="Get Started">
          Get Started
        </button>
      </a>
      <a href="https://github.com/microbs-io/microbs" title="Github" onclick="to('https://github.com/microbs-io/microbs');">
        <button type="button" class="ui button inverted" aria-label="Github">
          Github
        </button>
      </a>
    </div>
  </div>
</div>
